<div class="evaluation-screen">
  <div class="form-container">
    <div class="header">
      <button (click)="goBack()" class="btn-back"><i
          class="fa-solid fa-arrow-left"></i></button>
      RESULTADOS DE EVALUACIÓN</div>
    <div class="form-content">
      <div class="guide">
        <p>
          Hoy {{getFechaHoy()}}, se ha evaluado el nivel de madurez
          en seguridad de
          la información de la empresa <strong>{{ formulario.nombreEmpresa
            }}</strong> (RUC: <strong>{{
            formulario.rucEmpresa }}</strong>), evaluación realizada por
          {{formulario.nombre}} con el cargo de {{formulario.rol}}.
        </p>
        <p>A continuación, puedes ver tu puntuación general y el desglose según
          los estándares ISO 27001 y NIST.</p>
      </div>

      <div class="graphics">
        <div class="donut-wrapper">
          <p class="donut-title">Nivel de Madurez - General</p>
          <div class="donut">
            <canvas id="chartGeneral"></canvas>
          </div>
        </div>

        <div class="donut-wrapper">
          <p class="donut-title">Nivel de Madurez - ISO 27001</p>
          <div class="donut">
            <canvas id="chartISO"></canvas>
          </div>
        </div>

        <div class="donut-wrapper">
          <p class="donut-title">Nivel de Madurez - NIST</p>
          <div class="donut">
            <canvas id="chartNIST"></canvas>
          </div>
        </div>
      </div>

      <div class="bar-container">
        <div class="bar-section">
          <h3>DIMENSIONES SEGÚN ISO 27001:2022</h3>
          <canvas id="chartBarISO"></canvas>
        </div>
        <div class="bar-section">
          <h3>DIMENSIONES SEGÚN NIST</h3>
          <canvas id="chartBarNIST"></canvas>
        </div>
      </div>

      <div class="button-container">
        <button (click)="descargarResultados()">DESCARGAR RESULTADOS</button>

        <button (click)="irAFormularioEvaluacionActivos()">
          ¿CÓMO MEJORAR?
        </button>
      </div>
    </div>
  </div>

</div>
<div class="pdf-export oculto">
  <div class="header">RESULTADOS DE EVALUACIÓN</div>
  <div class="form-content-pdf">
    <div class="guide-pdf">
      <p>
        <strong>Evaluación realizada para:</strong> <br>
        Empresa: {{ formulario.nombreEmpresa}} <br>
        RUC: {{formulario.rucEmpresa }} <br>
        Evaluador: {{formulario.nombre}} – {{formulario.rol}}<br>
        Fecha: {{getFechaHoy()}}
      </p>
      <p>A continuación, puedes ver tu puntuación general y el desglose según
        los estándares ISO 27001 y NIST.</p>
    </div>

    <div class="graphics">
      <div class="donut-wrapper">
        <p class="donut-title-pdf">Nivel de Madurez - General</p>
        <div class="donut">
          <canvas id="chartGeneral2"></canvas>
        </div>
      </div>

      <div class="donut-wrapper">
        <p class="donut-title-pdf">Nivel de Madurez - ISO 27001</p>
        <div class="donut">
          <canvas id="chartISO2"></canvas>
        </div>
      </div>

      <div class="donut-wrapper">
        <p class="donut-title-pdf">Nivel de Madurez - NIST</p>
        <div class="donut">
          <canvas id="chartNIST2"></canvas>
        </div>
      </div>
    </div>

    <div class="bar-container-pdf">
      <div class="bar-section">
        <h3>DIMENSIONES SEGÚN ISO 27001:2022</h3>
        <canvas id="chartBarISO2"></canvas>
      </div>
      <div class="bar-section">
        <h3>DIMENSIONES SEGÚN NIST</h3>
        <canvas id="chartBarNIST2"></canvas>
      </div>
    </div>
  </div>
</div>