<div class="evaluation-screen">
    <div class="form-container">
        <div class="header">
            <button (click)="goBack()" class="btn-back"><i
                    class="fa-solid fa-arrow-left"></i></button>
            ACTIVOS DE INFORMACIÓN</div>
        <div class="content">
            <div>
                <img src="../../../assets/img1.png" alt="img">
            </div>
            <div>
                <img src="../../../assets/img2.png" alt="img">
            </div>
            <div>
                <img src="../../../assets/img3.png" alt="img">
            </div>
            <div>
                <img src="../../../assets/img4.png" alt="img">
            </div>
        </div>
        <br>
        <div class="content-list">
            <h1 style="text-transform: uppercase;">Seleccione los activos con
                los que cuenta su empresa.</h1>
            <p>Esto permitirá identificar el riesgo asociado a cada uno y
                brindar recomendaciones para mejorar la seguridad de su
                información.</p>
            <table>
                <thead>
                    <tr>
                        <td class="head">N°</td>
                        <td class="head">Activo</td>
                        <td class="head">Probalidad</td>
                        <td class="head">Impacto financiero</td>
                        <td class="head">Impacto legal</td>
                        <td class="head">Impacto reputacional</td>
                        <td class="head">Justificación</td>
                        <td class="head"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of criterios">
                        <td>{{ item['N°'] }}</td>
                        <td>{{ item['Activo'] }}</td>
                        <td
                            [ngClass]="getColorClass(item['Color Probabilidad'])">{{
                            item['Probabilidad'] }}</td>
                        <td
                            [ngClass]="getColorClass(item['Color Impacto Financiero'])">{{
                            item['Impacto Financiero'] }}</td>
                        <td
                            [ngClass]="getColorClass(item['Color Impacto Legal'])">{{
                            item['Impacto Legal'] }}</td>
                        <td
                            [ngClass]="getColorClass(item['Color Impacto Reputacional'])">{{
                            item['Impacto Reputacional'] }}</td>
                        <td>{{ item['Justificación'] }}</td>
                        <td>
                            <input type="checkbox"
                                [(ngModel)]="item.seleccionado"
                                class="check" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div style="text-align: end;">
                <button (click)="exportarSeleccionados()"
                    class="btn-export">Exportar PDF</button>
            </div>
            <br>
        </div>
    </div>
