
<div *ngIf="pasoActual() === -1" class="container main-screen">
  <img
    src="https://storage.googleapis.com/staging.ugel-app.appspot.com/logo_mg.png"
    alt="logo" class="logo">
  <div class="overlay"></div>
  <div class="content">
    <h1>¿Tu empresa está protegida?</h1>
    <p>Evalúa en minutos el nivel de seguridad de tu negocio y descubre qué
      pasos seguir para fortalecerlo.</p>
    <div class="form-item"
      [ngClass]="{'invalid': rucTouched && !isValidRUC(rucEmpresa)}">
      <label>RUC</label>
      <input type="text"
        name="ruc"
        maxlength="11"
        [(ngModel)]="rucEmpresa"
        (blur)="rucTouched = true" />
      <small *ngIf="rucTouched && !isValidRUC(rucEmpresa)">
        RUC inválido. Debe tener 11 dígitos correctos.
      </small>
    </div>
    <div class="form-item">
      <label>Nombre de la empresa</label>
      <input type="text" [(ngModel)]="nombreEmpresa">
    </div>
    <div class="form-item">
      <label>Nombre del evaluador</label>
      <input type="text" [(ngModel)]="nombre">
    </div>
    <div class="form-item">
      <label>Rol del evaluador</label>
      <input type="text" [(ngModel)]="rol">
    </div>
    <button (click)="iniciarEvaluacion()" [disabled]="!camposValidos()">INICIAR
      EVALUACIÓN</button>
  </div>
</div>

<div *ngIf="pasoActual() >= 0" class="container">
  <ng-container *ngComponentOutlet="pasos[pasoActual()]"></ng-container>
</div>
